{{define "subject"}}Reset your password{{end}}

{{define "body"}}
<p>Hi {{.Username}},</p>
<p>You requested a password reset for Habitisti.</p>
<p><a href="{{.ResetURL}}">Click here to reset your password</a></p>
<p>This link expires in {{.Expiry}}.</p>
<p>If you didn't request this, you can ignore this email.</p>
{{end}}
